<%- include("partials/header")  %> 
     

      <h2>Les options de véhicules <a href="/coride/admin/vehicle-options/add"><i style="width: 32px; height: 32px;" data-feather="plus-circle"></i></a></h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">nom</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <% for(const option of locals.vehicleOptions){ %> 
            <tr>
              <td><%= option.id  %> </td>
              <td><%= option.label  %> </td>
              <td><a href="/coride/admin/vehicle-options/delete?id=<%= option.id %>"><span data-feather="trash-2"></span></a></td>
            </tr>

            <% } %> 
           
          </tbody>
        </table>
      </div>
<%- include("partials/footer")  %> 